0x00-pascal_triangle/__pycache__/0-pascal_triangle.cpython-311.pyc
0x03-log_parsing/venv
0x04-utf8_validation/__pycache__
0x06-starwars_api/node_modules
0x06-starwars_api/tail
0x06-starwars_api/package-lock.json
